* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #7d4159 0, #773959 12.5%, #6f3159 25%, #652859 37.5%, #591f59 50%, #4b185a 62.5%, #3a135b 75%, #24125d 87.5%, #00125f 100%);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a{
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar li a{
    text-decoration: none;
}
.navbar a:hover{
    color: red;
}
@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}
.hero-banner {
    width: 100%;
    height: 50%;
    background-image: url(/images/bannerWeb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    word-spacing: 2px;
    color: rgba(255, 255, 255, 0.889);
}

.images-container {
    height: 350px;
    max-width: 100%;
    margin: auto;
    display: flex;
    padding: 5px 0;
}

.images-container img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: all 400ms;
}

.images-container .image {
    position: relative;
    overflow: hidden;
}

.images-container .description {
    position: absolute;
    width: 100%;
    bottom: -180px;
    background: #222;
    color: #fff;
    padding: 8px 16px;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 400ms;
}

.images-container .description h2 {
    color: #50ebff;
}

.images-container .image:hover .description {
    opacity: 1;
    bottom: 0;
}

.images-container .image:hover img {
    transform: scale(1.1);
}

.about {
    width: 100%;
    padding: 50px 0;
}

.about img {
    height: auto;
    width: 800px;
}

.about-text {
    width: 550px;
    padding: 50px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 45px;
}

.wrapper .button {
    display: inline;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    margin-bottom: 50px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px;
    color: rgba(0,0,0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 200px;
}

.wrapper .button .icon {
    display: inline-flex;
    height: 60px;
    width: 60px;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
    background: #1da1f2;
}
.wrapper .button:nth-child(3):hover .icon{
    background: #e1306c;
}
.wrapper .button:nth-child(4):hover .icon{
    background: #ff0000;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

.blank {
    display: flex;
    align-items: center;
    justify-content: center;
}
.blank h2 {
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form {
    width:90%;
    max-width: 600px;
}
.input-group {
    margin-bottom: 30px;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

label {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}
button {
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group {
    flex-basis: 48%;
}

#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 8px;
    color: white;
}
#status.success {
    background-color: yellowgreen;
    animation: status 4s ease dealy forwards;
}

#status.error {
    background-color: red;
    animation: status 4s ease dealy forwards;

}
@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}
